.page-template-front {
    .orbit {
        position: relative;
        z-index: 0;
        .orbit-wrapper {
            .orbit-caption {
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
                width: auto;
                background: none;
                position: absolute;
                bottom: 30%;
                left: 60%;
                top: 30%;

                h3 {
                    color: $yellow;
                }
            }
        }
        .orbit-controls {
            display: none;
        }
        .orbit-bullets {
            margin-top: -3rem;
            margin-bottom: 0;

            button {
                width: 2rem;
                height: 0.2rem;
                border-radius: 0;
                background-color: $white;

                &.is-active {
                    background-color: $yellow;
                }
            }
        }
    }
    .main-wrap {
        margin-top: 6rem;
    }
    .sidebar {
        position: relative;
    }
}
