.woocommerce.single-product {
    hr.sl-divider {
        width: 80%;
        color: $light-gray;
    }
    label.sl-label {
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: normal !important;
    }
    ul.variations {
        margin-left: 0;
        list-style: none;
    }
    input, select, textarea {
        border: 0;
    }
    div.product {
        .woocommerce-tabs {
            ul.tabs {
                border: none;
                background: none;
                li {
                    padding: 1rem 0.3rem;
                    &.active {
                        background: $white;
                    }
                }
            }
            ul.tabs li a {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
            .entry-content {
                h2 {
                    display: none;
                }
            }
        }
    }
    .single_variation_wrap {
        .addon-name {
            color: $dark-gray;
            text-transform: uppercase;
            font-size: 0.875rem;
            &:before {
                content: '';
                display: block;
                margin: 1rem auto;
                width: 80%;
                height: 1px;
                background: $medium-gray;
            }
        }
        .product-addon-first-name h3, .product-addon-last-name h3, .product-addon-phone h3, .product-addon-email-address h3 {
            display: none;
        }
        .addon-2-col {
            @include grid-column(6);

            input, p {
                margin-bottom: 0;
            }
        }
    }
}
