.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-masonry-container {
    .column {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

#videoModal {
    background: transparent;
    border: 0;
    outline: none;

    .embed-container {
        margin-bottom: 0;
        margin-top: 2rem;
    }
}
.photo-masonry-container {
    .column {
        padding-right: 1px;
        padding-left: 1px;
    }
}
.photo-entry {
    padding-bottom: 2px;
    @include breakpoint(medium) {
    }
    .entry-content {
        padding: 0;
        .label {
            font-size: 0.7rem;
            padding: 0.15rem 0.25rem;
            max-width: 10rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;
        }
    }
}

#photoModal {
    background: transparent;
    color: $white;
    border: 0;
    outline: none;
    text-align: center;
    top: 2rem !important;
}

.teacher-archive-thumb {
    margin-right: 1.5rem;
}
.class-calendar {
    @include flex-grid-row;
    .class-calendar-block {
        @include flex-grid-column();
    }
}
time.date-icon {
	display: block;
	width: 80px;
	margin: 30px auto;
	background: $white;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: relative;
    box-shadow: 0 0 3px $black-alpha;

    &.active {
        box-shadow: 0 0 15px $black-alpha;
    }
    &.unavail {
        opacity: 0.5;
    }
    .month {
    	background: $green;
    	display: block;
    	padding: 3px 0;
    	color: #fff;
    	font-size: 12px;
    	font-weight: bold;
    }
    .day {
    	display: block;
    	margin: 0;
    	padding: 0;
    	font-size: 48px;
        line-height: 1.2;
    	position: relative;
    }
    .year {
    	display: block;
    	margin: 0;
    	font-size: 12px;
        padding-bottom: 0.5rem;
        line-height: 1;
    	position: relative;
    }
}
.ribbon-container {
    position: relative;
    overflow: hidden;

    .ribbon {
        background-color: #a00;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        left: -40px;
        top: 20px;
        /* for 45 deg rotation */
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .ribbon span {
        color: #fff;
        display: block;
        font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 1px 0;
        padding: 2px 50px;
        text-align: center;
        text-decoration: none;
        /* for creating shadow */
        text-shadow: 0 0 5px #444;
    }
}
.entry-content .search-featured-image {
    @include thumbnail;
    float: left;
    margin-right: 2rem;
}
.woocommerce {
    div.product {
        div.images{
            .flex-control-thumbs {
                li {
                    background: $black;
                    img {
                        opacity: .8;
                    }
                }
            }
        }
    }
}
