.product-category-slider.orbit {
    .orbit-container {
        outline: none;
        .orbit-controls {
            button {
                background: $yellow;
                padding: 1rem 0.5rem;
                &:hover {
                    color: $black;
                }
            }
            .orbit-previous {
                @include breakpoint(medium) {
                    left: 0;
                }
            }
            .orbit-next {
                @include breakpoint(medium) {
                    right: 0;
                }
            }
        }
        .column {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
        .orbit-slide {
            background: transparent;
            .category-card {
                position: relative;
                text-align: center;
                color: $white;

                .category-card-thumbnail {

                }
                .category-card-info {
                    transition: top 500ms;
                    background: rgba(0,0,0,.7);
                    position: absolute;
                    top: 100%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 2rem 1rem;

                    a {
                        color: $white;
                    }
                    h3 {
                        font-size: 1.5rem;
                    }
                }
                &:hover {
                    .category-card-info {
                        top: 0;
                    }
                }
            }
        }
    }
}
