.main-wrap {
  @include grid-row();
  margin-top: -3rem;
  position: relative;

  @include breakpoint(medium) {
    margin-top: -5rem;
  }
}

.main-content {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(9);
  }

  // 1 column
  .full-width.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(12);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(9);
      @include grid-col-pos(3);
    }
  }
  .entry-content {
      background: $white;
      padding: 3rem 2.5rem;
  }
}
.reveal.video-modal {
    padding: 0;
    overflow: visible;
    .close-button {
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
}
.related-posts-row {
    @include clearfix;
    .related-posts-card {
        width: 48%;
        float: left;
        padding: 1rem;
        margin: 0 3.8% 2.992em 0;
        background: $white-alpha;
        &:nth-child(even) {
            margin-right: 0;
        }
        @include breakpoint(medium) {
            width: 16.66667%;
            &:nth-child(5) {
                margin-right: 0;
            }
            &:nth-child(even) {
                margin-right: 3.8%;
            }
        }
        img {
            margin-bottom: 1rem;
        }
        .related-posts-card-title {
            font-size: 120%;
            font-weight: bold;
        }
    }
    .related-posts-row .related-posts-card:last-child:not(:first-child) {
        float: left;
    }
}
.video-details-container {
    background: $black;
    padding: 3rem 4rem;

    h3 {
        padding-top: 1rem;
    }
    * {
        color: $white;
    }
    .tabs, .tabs-content {
        background: none;
        border: 0;
    }
}
.video-entry {
    background: $white;
    padding: 1rem;
    margin-bottom: 1rem;

    h4 {
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    footer {
        position: relative;
    }
    img {
        cursor: pointer;
    }
    .entry-content {
        padding: 0;
    }
    .excerpt p {
        margin-bottom: 0;
        font-size: 0.9rem;
    }
    .video-time {
        font-size: 0.7rem;
        background: $light-light-gray;
        padding: 0.1rem 0.4rem;
        position: absolute;
        top: -0.9rem;
        right: 0;
    }
    .video-play {
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: -2rem;
        top: 3rem;
        color: $white;
    }
}
.teacher-masonry-container {
    clear: both;
    .teacher-entry {
        background: $white;
        margin-bottom: 2rem;
        padding: 2rem;
    }
}
.sidebar {
  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(3);
    margin-top: -12.5rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
      margin-top: 0rem;
      @include breakpoint(medium) {
          @include grid-column(3);
          @include grid-col-pos(-9);
      }
      @include breakpoint(xlarge) {
          margin-top: -12.5rem;
    }
  }
}

body.no-hero-image .sidebar-left .sidebar {
    margin-top: 0;
}
