.footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(60);
  background-color: $brown;
}

.footer {
  @include grid-row();
  padding: rem-calc(30) 0;
  color: $light-light-gray;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        font-size: .85rem;
    }
  }
  h6 {
      color: $yellow;
      font-weight: bold;
      padding-bottom: 1rem;
  }
  a {
      color: $white;
  }
  .button {
      background-color: $yellow;
      &:hover {
          background-color: $dark-yellow;
      }
  }
}
.sub-footer {
    background-color: $dark-brown;
    color: $white;
    padding: .5rem 0;
    font-size: .85rem;
    .foot-content {
        @include grid-row();
    }
}
