// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
  background: $green;
  .menu-icon {
      &:after {
          top: 0.5rem;
          background: $white;
          -webkit-box-shadow: 0 7px 0 $white, 0 14px 0 $white;
          box-shadow: 0 7px 0 $white, 0 14px 0 $white;
      }
  }
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}
.top-bar-left {
    position: absolute;
}
// Site title
.site-mobile-title {
  float: left;
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu.menu {
    li a {
        padding: 1.2rem 1rem;
    }
    // submenu arrow
    li.is-dropdown-submenu-parent {
        > a::after {
            border: inset 4px;
            border-color: $accordionmenu-arrow-color transparent transparent;
        }
        &.active > a::after {
            border-color: $menu-item-color-active transparent transparent;
        }
    }
    ul.is-dropdown-submenu {
        border-color: transparent;
    }
}
.desktop-menu.menu {
    .site-navigation {
      @include breakpoint(small only) {
        padding: 0; // prevents container visibility on small screens
      }
    }

    li {
        a {
            &:hover {
                background: $black-alpha;
            }
        }
    }
    .active, .current_page_item {
        a {
            background: $white-alpha;
        }
        ul {
            a {
                background: none;
                &:hover {
                    background: $black-alpha;
                }
            }
        }
    }
}

// Vertical Navigation
.accordion-menu {
    a {
        display: block;
    }
    .active, .current_page_item {
        a {
            color: #1779ba;
            background: transparent;
        }
    }
    .is-accordion-submenu-parent > a::after {
        border-color: $primary-color transparent transparent;
    }
    .is-accordion-submenu {
        padding: 0 0 0 1.5rem;
    }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
