
.sidebar {
    .widget {
        background-color: $white;
        padding: 1rem 1.2rem;
        margin-top: 1rem;
        font-weight: 300;
        line-height: 1.2rem;

        h6 {
            font-weight: 200;
            font-size: 1.6rem;
        }
        table tbody th, table tbody td {
            text-align: center;
            padding: 0.5rem 0;
        }
        ul {
            list-style-type: none;
            margin-left: 0;
            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}
